body {
  padding-top:60px;
}


/*nav {
  height:50px;
  background-color:blue;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
}

nav a:hover {
  background-color:red;
}

nav a {
  padding-top:12.5px;
  padding-bottom:12.5px;
  padding-right:10px;
  padding-left:10px;
  background-color:grey;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

#user {
  float:right;
}*/

.expenses {
  width: 500px;
  height: 700px;
  margin:auto;
  margin-top: 50px;
}

.expense {
  width: 500px;
  background-color: white;
  margin-bottom:10px;
  box-shadow: 3px 3px 3px grey, -3px -3px 3px grey;
}
.expense-left-col {
  float:left;
  padding-left: 20px;
}

.amount {
  float:right;
  padding-right:10px;
}

.comments {
  width:480px;
  padding:10px;
  clear: both;
}