body {
  background-color:red;
}
#root {
  width:100%;
}
nav {
  height:50px;
  background-color:blue;
}

nav ul {
  list-style: none;
}
nav li {
  display: inline;
}
nav a:hover {
  background-color:red;
}
nav a {
  padding-top:12.5px;
  padding-bottom:12.5px;
  padding-right:10px;
  padding-left:10px;
  background-color:grey;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 25px;
  text-decoration: none;
}
#user {
  float:right;
}
.expenses {
  width: 500px;
  height: 700px;
  background-color: white;
}